/* 
    Document   : auth
    Created on : 21.04.2011, 13:34:38
    Author     : igor
    Description:
        Purpose of the stylesheet follows.
*/

.zag {  
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 12pt; 
    font-weight: bold; 
    color: #000000
}
.tekst {  
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10pt;
    color: #000000;
    vertical-align: middle;
    text-align: center;
}
.podtekst {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6pt;
    color: red;
    text-align:left
}

div.auth {
    background-color: white;
    width:100%;
    text-align: center;
}

.auth table {
    /*display: table-cell;*/
    display: inline-block;
    width:500px;
    background-color: white;
    border:0px; 
    border-collapse: collapse;
}

td.underline {
    /*border-bottom-width: 2px;
    border-bottom-color: black;*/
    background-color: black;
    line-height: 1px;
}