/* 
    Document   : cpusers
    Created on : 28.04.2011, 14:20:30
    Author     : igor
    Description:
        Purpose of the stylesheet follows.
*/

#rrr {
    font-family:monospace;
    white-space: pre;
}
