.find {
    border: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.fullwidth {
    width: 100%;
    margin: 0;
    padding: 0;
    /*border:solid 1px red;*/
}
div.fullwidth {
    /*display: inline;*/
    /*max-width:600px;
    max-height:1.5em;*/
    overflow:hidden;
}
div.fullwidth:hover {
    overflow:visible;
    max-height:350px;

}
div.fullwidth .filelink {
    font-size:1em;
}

.nullwidth {
    display: none;
}

.chettr {
    background-color: rgb(250, 250, 250);
}

.nechettr {
    background-color: rgb(230, 230, 230);
}

.chettr:hover,
.nechettr:hover {
    background-color: yellow;
}

.yellow {
    background-color: yellow;
}


.listtable {
    width: 100%;
    /*border: solid black 1px;*/
    border: none;
    border-collapse: collapse;
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;

}

.listtable td {
    border: solid lightgray 1px;
    vertical-align: middle;
    width: 0px;
    margin: 0px;
    padding:0px;
    padding-left: 5px;
    padding-right: 5px;
}

.listtable td.search, .listtable td.buttons {
    padding: 0px;
}


.listtable td.edit,
.listtable td.del
{
    text-align: center;
    width: 21px;
}

.listtable td.del > a {
    background: url(img/b_drop.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 8px;
}
.listtable td.edit > a {
    background: url(img/b_edit.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 8px;
}

#showlink {
    text-decoration: none;
    color: black;
}
a div.fullwidth {
    white-space: nowrap;
}

.listtable thead {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.listtable th {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    border: solid gray 2px;
}

.listtable th a {
    text-decoration:none;
    color:black;
}

.halfbutton {
    width:50%;
}

.fullbutton {
    width: 100%;
}

/*
    Для диалогов
*/
a.filelink,
a.path
{
    text-decoration:underline;
    font-weight:bold;
    font-size: 1.5em;
    font-family: 'Times New Roman',Times,serif;
}

#dialog {
    font-family: 'Times New Roman',Times,serif;
}
p {
    margin: 0.2em;
}

#verticalText {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    writing-mode: tb-rl;
}

#calcbutton {
    display:inline-block;
    border:0;
    margin:0;
    font-size:12px;
    font-family: 'trebuchet ms', tahoma, arial, sans-serif;
}