/* 
    Document   : ajaxform
    Created on : 24.06.2011, 9:27:08
    Author     : igor
    Description:
        Purpose of the stylesheet follows.
*/

.Form_errorText {
    color:red;
}

.Form_error {
    color:red;
}

.Form_errorField {
    color:red;
}

.Form_disabled {
    
}

.captcha {
    
}

.Form_captcha {
    
}
