.editdiv {
    max-height:500px;
    overflow-y:auto;
}

td.hidden {
    line-height: 0px;
}

.nobreak {
    white-space:nowrap;
}

.readonly {
    background-color: gray;
    color: white;
    font-weight: bold;
}